[submodule "lib/Artemis-Cpp"]
	path = lib/Artemis-Cpp
	url = https://github.com/L4D15/Artemis-Cpp.git
[submodule "lib/JsonCpp"]
	path = lib/JsonCpp
	url = https://github.com/L4D15/jsoncpp.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/LuaDist/lua.git
[submodule "lib/json-spirit"]
	path = lib/json-spirit
	url = https://github.com/L4D15/json-spirit.git
